<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: jboss-log4j.xml 62403 2007-04-18 15:26:43Z dimitris@jboss.org $ -->

<!--
	| For more configuration infromation and examples see the Jakarta Log4j
	| owebsite: http://jakarta.apache.org/log4j
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false"
					 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
					 xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">
	<appender name="FILE"
			  class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/catalina.out"/>
		<param name="Append" value="false"/>
		<param name="Threshold" value="ERROR"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
		</layout>
	</appender>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="info"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
		</layout>
	</appender>

	<!-- 文件名和目录不能更改-->
	<appender name="serviceProxy"
			  class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/selenium/selenium.log"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="info"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd\tHH:mm:ss} %m%n"/>
		</layout>
	</appender>

	<category name="com">
		<priority value="info"/>
		<appender-ref ref="serviceProxy"/>
	</category>


	<root>
		<appender-ref ref="FILE"/>
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration>
